{% block sidebar %}

<style type="text/css">
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
            
        }

        
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">Contact me</h5>
    <div class="card-body">
        <p class="card-text">For more Detials please, Lets connect on Linked in</p>
        <a href="https://www.linkedin.com/in/ismail-zabiulla-b19588106/"
           class="btn btn-danger">linked in</a>
    </div>
</div>
</div>

{% endblock sidebar %}